/*CSS reset settings here*/
*{
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
}
#wrapper{
    background-color: silver;
    margin: 0px auto;
}
#header{
    min-height: 100px;  
    background-color: green;
}
#navigation{
    min-height: 100px;
    min-width: 10px;
    vertical-align: top;
    display:inline-block;
    background-color: blue;
}
#main_content{
    min-height: 400px;
    display:inline-block;
    background-color: red;
}
.subcontents{
    min-height: 225px;
    min-width: 50px;
    display:inline-block;
    background-color: yellow;
}
#advertisement{
    min-height: 100px;
    background-color: purple;
}
@media only screen and (max-width:500px){
    #header{
        width: 100%;
    }
    #navigation{
        display: none;
    }
    .subcontents{
        width: 100%;
    }
    #advertisement{
        width: 100%;
    }
}
@media only screen and (min-width:501px){
    #header{
        width: 100%;
    }
    #navigation{
        display: none;
    }
    .subcontents{
        width: 25%;
    }
    #advertisement{
        width: 25%;
    }
}
@media only screen and (min-width:1024px){
        #header{
            width: 100%;
        }
        #navigation{
            display: inline-block;
            width: 25%;
        }
        #main_content{
            width:100%
        }
        .subcontents{
            width: 25%;
            padding: 0px;
            margin: 0px;
        }
        #advertisement{
            display: inline-block;
            width: 25%;
        }
}